/* INDICE

- RESET RULES 

- LAYOUT RULES

- HEADER RULES

- MAIN RULES

- FOOTER RULES

- DEBUG RULES

*/

/* ----RESET RULES -------------------------------------------------------- */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

/* ----RESET RULES -------------------------------------------------------- */


/* ----RESET RULES -------------------------------------------------------- */


/* ----RESET RULES -------------------------------------------------------- */
