/* INDICE

- RESET RULES 

- LAYOUT RULES

- HEADER RULES

- MAIN RULES

- FOOTER RULES

- DEBUG RULES

*/

/* ----RESET RULES -------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap');




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

p{
    font-size: 18px;
}

h2{
    font-size: 42px;
}

h3{
    font-size: 26px;
    margin: 24px 0;
}

h4{
    font-size: 18px;
    padding-left: 12.5px;

}

a{
    text-decoration: none;
    color: currentColor;
}

h3{
    display: inline-block;
}

ul,
li{
    display: inline-block;
}


html{
    font-family: 'Almarai', sans-serif;
}

h1{
    font-family: 'Khula', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

section{
    padding: 72px 0;
}

/* ----LAYOUT RULES -------------------------------------------------------- */

.container_full{
    max-width: 100%;
    margin: 0 auto;
}

.container_big{
    max-width: 1258px;
    margin: 0 auto;
}

.container{
    max-width: 1040px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

.col{
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.col12{
    flex-basis: calc(100% *(12/12));
}

.col9{
    flex-basis: calc(100% *(9/12));
}

.col8{
    flex-basis: calc(100% *(8/12));
}

.col6{
    flex-basis: calc(100% *(6/12));
}

.col5{
    flex-basis: calc(100% /5);
}

.col3{
    flex-basis: calc(100% /3);

}

.col4{
    flex-basis: calc(100% *(4/12));
}

/* ----HEADER RULES -------------------------------------------------------- */

.header{
    position: sticky;
    top: 0%;
    z-index: 999;
    font-family:'Almarai';
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    color: #4A4A4A;
    padding: 24px 18px;
}

.row_header{
    justify-content: space-between;
    align-items: center;
}

.list-menu{
    display: flex;
    align-items: center;
    height: max-content;
}

.list-item{
    display: block;
    padding: 0 18px;
    line-height: 34px;
    flex-shrink: 0;
}

.logo{
    max-height: 34px;
    margin-right: 18px;
    padding: 0;
}

.button{
    background-color:#0061FF ;
    color: white;
}

/* ----MAIN RULES -------------------------------------------------------- */

/* HERO SECTION */

main{
    background-color: #fff;
}

main h1{
    font-size: 86px;
    line-height: 1.2em;
}

main p{
    font-size: 18px;
    line-height: 1.3em;
}

.hero{
    background-color: #B4D0E7;
    min-height: 100%;
}

.row_title{
    margin-bottom: 2em;
}

.button-size{
    display: inline-block;
    padding: 14px 18px;
    margin: 2em 0;
}

.hero .icon{
    font-size: 46px;
    padding-top: 2em;
}




/* FIRST SECTION -----------------------------------*/

.card p{
    display: block;
}


.first{
    margin-top: 72px;
    padding: 36px 0;
}


.blue i{
    color: #0061FF;
    font-weight: 900;
}

.form{
    padding: 24px 0;
}


.card{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    border: 1px solid lightgray;
}

.first .row{
    margin: 0 -25px;
}

.first .col{
    padding: 0 25px;
}

.card .intestazione{
    padding: 12px;
    text-align: center;
    
}

.card .corpo_carta{
    padding: 24px 32px;
    flex-grow: 1;
    border-top: 1px solid lightgray;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card li{
    display: flex;
    padding: 12px 0;
    
}

.card ul{
    margin-left: -12px;
}

.card ul{
    padding-top: 44px;
}

li .icon{
    font-size: 16px;
    flex-basis: 24px;
    text-align: center;
    flex-shrink: 0;
    margin-top: 4px;
}

.icon{
    margin-right: 4px;
}

.col4.flex{
    padding-left: 75px;
}

.full_size {
    max-height: 54px;
    text-align: center;
    width: 100%;
    padding: auto 25px;
}

.top_align{
    margin: 16px 0px;
    justify-content: center;
    align-items: center;
}

.short{
    max-width: 65%;
}

.subtitle{
    font-weight: 700;
    margin:8px 0;
}

.description{
    color: gray;
    margin:8px 0;
}

span{
    text-decoration: underline;
    color: blue;
}



.line::after{
    content: "";
    display: block;
    height: 1px;
    width: 25%;
    background-color: lightgray;
    margin-top: 42px;
}

.text{
    padding-top: 42px;
}



/* ----PARTNER SECTION-------- */

.row-vertical{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.partner__image{
    flex-basis: calc(100%*0.63);
}

.text__flex{
    padding: 0px;
    padding-top: 42px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text__flex h3{
    margin: 0px;
}

.partner__text{
    flex-basis: calc(100%*0.32);
    width: 100%;
}

.button--outline{
    color: black;
    background-color: white;
    border: 1px solid black;
    margin: 0;
}

.text__title,
.text__paragraph,
.text__button{
    padding: 16px 0;
}


/* SECTION BUSINESS------------- */



.business .row{
    margin: 0 -25px;
}

.business .col{
    padding: 0 25px;
}

.business .card{
    border: none;
}

.business .container{
    margin-bottom: 72px;
}

.textlink{
    display: block;
    margin-top: 46px;
}

/* SECTION LOGHI full------------- */

.loghifull{
    padding-top: 0;
}

.loghifull .row{
    flex-wrap: wrap;
    gap: 0px;
    min-height: 200px;
}

.colfull30{
    flex-basis:calc(100%/3);
}

.colfull{
    flex-basis: 100%;
    color: #61082B;
    background-color: #B4D0E7;
}

.colfull50{
    flex-basis: calc(100%/2);
    aspect-ratio: 1;
    -background-color: rgba(50, 50, 50, 0,5);
}

.bg--ligthgrey{
    background-color: #F5F5F5;

}

.svg--white{
    filter: invert(100);
}

.size--small{
    max-width: 50%;
}

.center{
    height: 100%;
    display: flex;
}

.position--center{
    display: inline-block;
    margin: auto;
}

.center__designit{
    background-color: #A2D39B;
    border: 16px solid #D1E9CD;
}

.center__asu{
    background-color: #61082B;
}

.center__florida{
    background-color: #0093CE;
}

.center__topps{
    background-color: #FF1C1C;
}

.center__wbr{
    background-color: #D5001F;
}

.center__hearst{
    background-color: #B4D0E7;
}

.center__lonelyplanet{
    background-color: #0D2481;
}

.center__cco{
    background-color: #FFD830;
}

.flex.box{
    flex-direction: column;
    padding: 36px;
}

.box__image{
    max-width: 55%;
}

.box__text{
    margin-top: 48px;
    font-size: 18px;
}

.button2{
    color: black;
    background-color: white;
}

.loghifull .container .row{
    min height: ;
    padding: 144px 0;
    justify-content: space-between;
}

.loghifull .col4 a{
    width: 100%;
    text-align: center;
}

/* SECTION DOMANDE------------- */

.domande h4{
    padding: 0;
}

.domande .line::after{
    background-color: black;
    width: 100%;
}

.line.flex{
    justify-content: space-between;
}



/* ----FOOTER RULES -------------------------------------------------------- */



footer{
    background-color:rgb(0, 0, 0);
    color: #fff;


}

footer section .row{
    align-items: center;

}

footer section{
    padding: 12px;

}

footer ul{
    display: flex;
    flex-direction: column;
}

footer ul{
    font-size: 26px;
    font-weight: 900;
    padding: 36px 0;
}

footer li{
    font-size: 16px;
    font-weight: 400;
    padding: 12px 0;
}

footer h4{
    padding: 36px 0;
    font-size: 26px;
}

.widget p,
.widget i{
    display: inline-block;
    color: grey;
    padding: 8px 4px;
}

.widget{
    align-items: center;
}

footer .line::after{
    background-color: grey;
}




/* ----DEBUG RULES -------------------------------------------------------- */
/* per rimuovere cancella classe debug dal body */













